#board {
  display: grid;
  background-color: #eedced;
  height: 600px;
  width: 900px;
  opacity: .85;
  border: 5px solid #eedced;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px 300px;
  justify-items: center;
  align-items: center;
}

.card {
  height: 285px;
  width: 285px;
  background: #7286f3; 
  border: 3px solid #eedced;
}

.homeBtn {
  margin-bottom: 50px;
  width: 150px;
}

.restartBtn {
  margin-bottom: 50px;
}

img {
  height: 285px;
  width: 285px;
  display: none;
}







body {
  background-image: url("https://images.unsplash.com/photo-1593476366803-cff071151082?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Zmxvd2VyJTIwZmllbGR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 100px;
  color: #5e9444;
  text-shadow: 2px 2px #4a7640;
}

.titleLevel {
  margin-bottom: 0;
}
.announce {
  color: #7286f3;
  text-shadow: 2px 2px #4945c2;
  font-size: 50px;
  margin-bottom: 50px;
}

.instructionsBox {
  color: #7286f3;
  padding: 50px 100px 50px 100px;
  border: 3px solid;
  background-color: #eedced;
  margin-left: 350px;
  margin-right: 350px;
  opacity: 0.85;
}

.instructionsTitle{
  padding: 0 0 15px 0;
  margin: 0;
  text-decoration: underline;
  font-size: 30px;
}

.instructions {
  font-size: 20px;
}

button {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  margin-top: 50px;
  height: 50px;
  width: 250px;
  border: 2px solid;
  font-size: 25px;
  color: #5e9444;
  text-shadow: 1px 1px #4a7640;
  background-color: #eedced;
}

